.App {
  text-align: center;
}

.App-logo {

  height: 100px;
}

.upper-word{
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 240px;
  padding: 20px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-body{
  text-align: center;
}

.image-player{
  text-align: center;
}

.img-player{
  margin-top: 10px;
  height:100px;
}

.card{
  background-color: lightgrey;
}

.player-data{
  margin-left: 40px;
}

.hr-profile{
  border-color: black;
  margin-left: 30px;
  margin-right: 30px;
}

.vote{
  text-align: center;
}

.button-profile{
  border-color: DodgerBlue;
  border-radius: 5px;
}

.button-profile:hover{
  background-color: DodgerBlue;
  cursor:pointer;
}
